@model BCDHX.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @id = "formLogin" }))
    {
        @Html.AntiForgeryToken()
        <div class="ee-social-login">
            <h3>Sử dụng cách khác</h3>
            <input type="hidden" value="" name="provider" id="providerID">
            @foreach (AuthenticationDescription p in loginProviders)
            {

                if (p.AuthenticationType == "Google")
                {
                    <a class="google-plus-login" onclick="return LoginWithExternal('@p.AuthenticationType');" href="#">Đăng nhập với <i class="fab fa-google-plus-g"></i></a>
                }
                else
                {

                    <a class="facebook-login" onclick="return LoginWithExternal('@p.AuthenticationType');" href="#">Đăng nhập với<i class="fab fa-facebook-f"></i></a>
                }

            }
        </div>
    }
}
