<div class="modal fade" id="ForgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn quên mật khẩu?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ee-login">
                    <form id="ForgotPasswordForm">
                        <div class="col-12 mb-30"><div id="SumErrorForgot"></div></div>
                        <div class="col-12 mb-30"><label>Xin mời nhập tên đăng nhập (email đăng ký):</label></div>
                        <div class="col-12 mb-30"><input type="text" id="ForgotPasswordEmail" placeholder="Email đã đăng kí !" required=""></div>
                        <div class="col-12"><input type="submit" value="Gửi"></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12"><h4>Cảm ơn đã tin tưởng và sử dụng dịch vụ của shop!</h4></div>
            </div>
        </div>
    </div>
</div>
