
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeTempates/_LayoutOther.cshtml";
}
<h2 style="text-align: center;">Hướng dẫn mua h&agrave;ng</h2>
<p>Bước 1 : Lựa chọn mặt h&agrave;ng cần mua (v&iacute; dụ)</p>
<p>Th&ecirc;m h&agrave;ng v&agrave;o giỏ</p>
<p><img src="https://s2.upanh.pro/2019/08/28/anh1.png" alt="" width="837" height="205" /></p>
<p>Bước 2 :Kiểm tra lại h&agrave;ng bằng click v&agrave;o giỏ h&agrave;ng như h&igrave;nh để check lại h&agrave;ng đ&atilde; chọn!</p>
<p>&nbsp;</p>


