@model BCDHX.Models.UserViewModel
<ul class="list-group">
    <li class="list-group-item text-muted">Tóm Tắt</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Số dư : </strong>@Model.Amount</span> </li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
</ul>
