<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Đơn hàng trong ngày</h4>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-body">
                        <div id="OrderPage">

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
        <div class="card-body"></div>
    </div>
</div><!-- /# column -->

