
@{
    ViewBag.Title = "PageBanner";
    Layout = "~/Areas/AdminBCDH/Views/Shared/_LayoutAdmin.cshtml";
}

@section Breadcrums{
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Chỉnh sửa chung sản phẩm</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li>@Html.ActionLink("Thống kê", "Index", "Home")</li>
                                <li class="active">@Html.ActionLink("Edit Pagebanner", "PageBanner", "Home")</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Thông tin PageBanner
            </div>
        </div>
        <div class="card-body">
            <div id="pagebanner">

            </div>
        
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/ScriptsBundle/AdminJquery/Pagebanner/PageBanner.min.js")"></script>
}

