
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/AdminBCDH/Views/Shared/_LayoutAdmin.cshtml";
}

@section Breadcrums{
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Chỉnh sửa chung sản phẩm</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li>@Html.ActionLink("Thống kê", "Index", "Home")</li>
                                <li class="active">@Html.ActionLink("Edit sản phẩm", "Product", "Home")</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
               Bảng thông tin sản phẩm
            </div>
        </div>
        <div class="card-body">
            <div id="Product">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
               <span> <strong>Sau khi tạo mới sản phẩm , tạo đến hình ảnh cho sản phẩm đó ở dưới bảng sau!</strong></span>
            </div>
        </div>
        <div class="card-body">
            <div id="ImageProduct">

            </div>
        </div>

    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/ScriptsBundle/AdminJquery/ProductManager/Product.min.js")"></script>

}
