<div class="banner-section section mb-60">
    <div class="container">
        <div class="row row-10">
            <!-- Banner -->
            <div class="col-md-8 col-12 mb-30">
                <div class="banner"><a href="#"><img src="@Url.Content("~/Content/MainPage/images/banner/banner1.jpeg")" alt="Banner"></a></div>
            </div>

            <!-- Banner -->
            <div class="col-md-4 col-12 mb-30">
                <div class="banner"><a href="#"><img src="@Url.Content("~/Content/MainPage/images/banner/banner2fix.jpeg")" alt="Banner"></a></div>
            </div>
        </div>
    </div>
</div>
