<div class="banner-section section mb-90">
    <div class="container">
        <div class="row">
            <!-- Banner -->
            <div class="col-12">
                <div class="banner"><a href="#"><img src="assets/images/banner/banner-3.jpg" alt="Banner"></a></div>
            </div>
        </div>
    </div>
</div>
