<div class="brands-section section mb-90">
    <div class="container">
        <div class="row">

            <!-- Brand Slider Start -->
            <div class="brand-slider col">
                <div class="brand-item col"><img src="~/Content/MainPage/images/brands/twice.jpg" alt="Brands"></div>
                <div class="brand-item col"><img src="~/Content/MainPage/images/brands/izone.jpg" alt="Brands"></div>
                <div class="brand-item col"><img src="~/Content/MainPage/images/brands/bts.jpg" alt="Brands"></div>
                <div class="brand-item col"><img src="~/Content/MainPage/images/brands/exo.jpg" alt="Brands"></div>
                <div class="brand-item col"><img src="~/Content/MainPage/images/brands/blackpink.jpg" alt="Brands"></div>
            </div><!-- Brand Slider End -->

        </div>
    </div>
</div>
