<div class="feature-section section mb-60">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-shipping">
                    <div class="feature-wrap">
                        <div class="icon"><img src="~/Content/MainPage/images/icons/feature-van.png" alt="Feature"></div>
                        <h4>Shipping Nhanh Chóng</h4>
                        <p>Mọi nơi trên bản đồ!</p>
                    </div>
                </div><!-- Feature End -->
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-guarantee">
                    <div class="feature-wrap">
                        <div class="icon"><img src="~/Content/MainPage/images/icons/feature-walet.png" alt="Feature"></div>
                        <h4>Hoàn Tiền Đảm Bảo</h4>
                        <p>Trong vòng 15 ngày!</p>
                    </div>
                </div><!-- Feature End -->
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-security">
                    <div class="feature-wrap">
                        <div class="icon"><img src="~/Content/MainPage/images/icons/feature-shield.png" alt="Feature"></div>
                        <h4>Giao dịch bảo đảm</h4>
                        <p>Thanh toán an toàn</p>
                    </div>
                </div><!-- Feature End -->
            </div>

        </div>
    </div>
</div>
