<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Đăng Ký Thành Viên</h1>
                <p>Đăng Ký Để Trở Thành Thành Viên Của Shop Bà Chị Diệu Hiền , có cơ hội giảm giá sản phẩm , giá ship nhận nhiều ưu đãi , cập nhật hàng sớm nhất</p>
                <div class="breadcrumb">
                    <ul>
                        <li>@Html.ActionLink("Trang Chủ","Index", "Home")</li>
                        <li>@Html.ActionLink("Đăng Ký", "Register", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="~/Content/MainPage/images/banner/banner-15.jpg" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="~/Content/MainPage/images/banner/banner-14.jpg" alt="Banner"></a></div>
        </div>
    </div>
</div>