<div class="mini-cart-wrap">
    <!-- Mini Cart Top -->
    <div class="mini-cart-top">
        <button class="close-cart">Đóng<i class="icofont icofont-close"></i></button>
    </div>
    <!-- Mini Cart Products -->
    <ul class="mini-cart-products" id="cartStart">
                     
    </ul>
    <!-- Mini Cart Bottom -->
    <div class="mini-cart-bottom" id="cartBottom">
        
    </div>
</div>
