@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/HomeTempates/_LayoutOther.cshtml";
}
@section PageBannerForAll{
    @Html.Action("PageBannerCart", "Cart")
}
<div class="row">
    <div class="col-12">
        <form action="#">
            <!-- Cart Table -->
            <div class="cart-table table-responsive mb-40" id="masterzoneCartTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="pro-thumbnail">Ảnh</th>
                            <th class="pro-title">Tên sản.p</th>
                            <th class="pro-quantity">Số lượng</th>
                            <th class="pro-title">Ver</th>
                            <th class="pro-subtotal">Tổng</th>
                            <th class="pro-remove">Remove</th>
                        </tr>
                    </thead>
                    <tbody id="tableCart">                                            
                    </tbody>
                </table>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-6 col-12 mb-15">
                <!-- Calculate Shipping -->
                <div class="calculate-shipping">
                    <h4>Chọn khu vực Shipping</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-25">
                                <select class="nice-select" id="ShippingLocationSelection">
                                    <option value="0" selected>Chọn khu vực</option>
                                    <option value="35000">Khu Vực Phía Bắc</option>
                                    <option value="30000">Khu Vực Phía Nam</option>
                                    <option value="30000">Khu Vực Miền Trung</option>
                                </select><span style="font-size:14px;color:red;font-weight:600">Phải chọn khu vực để định giá ship *</span>
                            </div>                                          
                            @*<div class="col-md-6 col-12 mb-25">
                                <input type="submit" value="Estimate">
                            </div>*@
                        </div>
                    </form>
                </div>
                <!-- Discount Coupon -->
                <div class="discount-coupon">
                    <h4>Discount Coupon Code</h4>
                    <form action="#" id="CouponForm">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-25">
                                <input type="text" placeholder="Coupon Code" id="cuponCode"><span style="font-size:14px;color:red;font-weight:600">Sử dụng mã giảm giá nếu có</span>
                            </div>
                            <div class="col-md-6 col-12 mb-25" >
                                <input type="submit" value="Áp dụng">
                            </div>                        
                        </div>
                    </form>
                </div>
            </div>
            <!-- Cart Summary -->
            <div class="col-lg-6 col-12 mb-40 d-flex">
                <div class="cart-summary">
                    <div class="cart-summary-wrap" id="cartSummary">
                      
                    </div>
                    <div class="cart-summary-button">
                        <button class="checkout-btn" id="CheckOutBt">Checkout</button>                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Brands{
    @Html.Partial("~/Views/Home/BrandsPartial.cshtml")
}
@section Subscribe{
    @Html.Partial("~/Views/Home/SubscribePartial.cshtml")
}

